@model IEnumerable<SocialCoin.Models.CoinDTO>

    <ul>
       @*@foreach (var item in Model)
       {
            <li>
                @Html.DisplayFor(modelItem => item.Name) 
                (@Html.DisplayFor(modelItem => item.Symbol)) 
                @Html.DisplayFor(modelItem => item.Change1hr)
            </li>
        }*@
        <li>
            Test
        </li>
    </ul>